.main{
    margin-top:80px ;
}
/* */
/* banner */
.banner{
    position: relative;
    height: 800px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    background-image: url("https://res.cloudinary.com/dhglwzgm3/image/upload/v1679214009/TT_dwdrz9.svg");
    background-size: cover;
    background-repeat: repeat;
    background-position-x:  -70px;
    /* background-color: red; */
}
.banner_1{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.banner_1-title{
    text-align: center;
    margin: 28px 0 10px;
    font-size: 4rem;
}
.banner_1-text{
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: center;
}
.banner_slogen{
    border-radius: 20px;
    background-image:linear-gradient(to right,#1abac4,#0066ff ) ;
    color: var(--white-color);
    text-align: center;
    padding:6px 40px ;
}
.banner_slogen h2{
    margin: 8px 0;
    font-size: 2rem;

    font-weight: 500;
}
.banner-btn-change{
    position: absolute;
    bottom: 129px;
    right: 50%;
    transform: translateX(50%);
}
.banner-btn{
    display: flex;
    justify-content:center;
    
};
.banner-btn:hover{
    transform: scale(1) rotate(0deg) !important;
}
.banner_list-divise {
    position: absolute;
    bottom: -84px;
    display: flex;
    color: var(--white-color);
    justify-content: center;
    gap: 40px;
    right: 50%;
    transform: translateX(50%);
}
.banner_item{
    background: linear-gradient(180deg, #CB00CF 0%, #000F25 100%);
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    padding: 4px 16px;
    min-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.banner_item-title{
    font-size: 1.2rem;
}
.banner_item-color1{
    background: linear-gradient(180deg, #0072F9 0%, #001629 100%);
}
.banner_item-color2{
    background: linear-gradient(180deg, #3BD480 0%, #001629 100%);
}

.banner_item div{
    display: flex;
}
.banner_item div img{
    width: 20px;
    margin-right: 4px;
    object-fit: contain;
}
.banner_item div p {
    font-size: 2rem;
    font-weight: 500;
    margin: 10px 0 10px 6px;
}

/* overview */
.overview{
    position: relative;
    margin: 140px 0;
    width: 100%;
    color: #00F0FF;
    background-image: url("https://res.cloudinary.com/dhglwzgm3/image/upload/v1679217829/1010110_x5h2ml.svg");
}
.overview_wrapper{
    display: flex !important;
    justify-content: center !important;
    border-radius: 20px;
}

.overview_body{
    background:  rgba(82, 102, 153, 0.12);
    filter: brightness(1.4);
    border-radius: 20px;
    padding: 20px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.overview-more-info, .overview-title{
    margin-bottom: 30px;
    font-size: 2.2rem;
    line-height: 2.8rem;
    font-weight: 500;
    text-align: center;
}
.overview-title{
    font-size: 3rem;
}
.overview-img{
    position: absolute;
    right: 0;
    bottom: 0;
    max-width:300px ;
}
/* demo */
.demo{
    width: 100%;
    min-height: 800px;
}
.demo_wrapper{
    display: flex !important;
    justify-content: center !important;
}
.demo_body{
    filter: brightness(1.4);
    border-radius: 20px;
    padding: 20px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #9E13E0 0%, #3D01E8 100%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.demo-title{
    /* background-color: red; */
    width: 100%;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
    margin: 40px 0 20px 0;
}
.demo_ex{
    width: 100%;
    margin: 50px;
}
/* demo video */
.demo_video{
    width: 80%;
    height: 500px; 
     background-color: red;
}
.demo_video-iframe{

}

/* price */
.price{
    width: 100%;
    height: 990px; 
}
.price_wrapper{
    display: flex !important;
    justify-content: center !important;
}
.price_body{
    position: relative;
    background:  rgba(82, 102, 153, 0.12);
    filter: brightness(1.4);
    border-radius: 20px;
    padding: 20px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: 900px;
    background: linear-gradient(180deg, rgba(0, 175, 250, 0.5) 0%, rgba(218, 136, 13, 0) 100%);
    filter: drop-shadow(10px 8px 50px rgba(0, 0, 0, 0.25));
}
.price-title{
    position: absolute;
    top: 58px;
    right: 50%;
    transform: translateX(50%);
    color: #00f0ff;
    font-size: 2.6rem;
    font-weight: 500;
}
.price_list{
    width: 100%;
    display: flex;
}
.price_item{
    width: 180px;
    height: 460px;
    background: #e4dfdf;
    border-radius: 10px;
    padding: 80px 20px;
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.price_item-title{
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 600;
    font-size: 2.0rem;
    line-height: 34px;
    text-align: center;
    color: #353535;
}
.price_item-title-active{
    background: linear-gradient(94.39deg, rgba(0, 180, 180, 0.75) 2.99%, rgba(0, 187, 7, 0.75) 101.68%);
    border-radius: 8px;
    color: var(--white-color);
    padding: 4px 10px;
    margin-bottom: 20px;
}
.price_item-type{
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 3rem;
    text-align: center;
    color: #0047FF;

}
.price_item-info{
    display: flex;
    align-items: center;
    font-size: 1.4  rem;
}
.price_item-info p{
    font-weight: 500;
    margin:0 8px 0 0;
}
.price_item-info span{
    font-weight: 300;
    font-size: 1.4rem;
    color: #585656;
}
.price_item-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid rgba(22,24,24,0.6);
    padding: 10px 20px;
    cursor: pointer;
}
.price_item-btn-active{
    background-color: blue;
    color: var(--white-color);
    border: none;
    transition: background-color 0.3s ease;
}
.price_item-btn-active:hover{
    background-color: rgba(0, 187, 7, 0.75) ;
}
.price_item-active{
    transform: scale(1.2);
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.4);
    background: #ffff;
    z-index: 1;
}
.price_item:nth-child(2){
    position: relative;
}
.price_item-popular{
    position: absolute;
    top: 12px ;
    right: 12px;
    background:#ff9100;
    border-radius: 4px;
    padding: 4px 10px;
    color: white;
    font-weight: 400;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    line-height: 2rem;
}
.price-logo{
    position: absolute;
    width: 80px;
    bottom: 26px;
}
.price_item-money{
    display: flex;
    align-items: end;
    margin-bottom: 16px;
}
.price_item-money p{
    margin: 0;
}
.price_item-dolor{
    align-items: start;
    line-height: 8rem;
    font-weight: 500;
    font-size: 2.4rem;
}
.price_item-1{
    font-size: 6rem;
    line-height: 5rem;
    font-weight: 400;
    display: flex;
    align-items: end;
}
.price_item-2{
    font-size: 2.6rem;
    line-height: 2.8rem;
}
.price_item-month{
    font-size: 1.6rem;
    line-height: 2rem;
    color: #AEAEAE;
}

/* feature */
.feature{
    width: 100%;
    min-height: 800px;
}
.feature_wrapper{
    display: flex !important;
    justify-content: center !important;
    
}
.feature_body{
    margin: 40px 0;
    position: relative;
    background:  rgba(82, 102, 153, 0.12);
    filter: brightness(1.4);
    border-radius: 20px;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 900px;
    background: rgba(36, 194, 23, 0.07);
    box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    /* background-image: url("https://res.cloudinary.com/dhglwzgm3/image/upload/v1679243180/Vector_ht54xj.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: color; */
    
}
.feature-title{
    color: #00F0FF;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 3rem;
    text-transform: uppercase;

}
.feature-item{
    margin-top: 40px;
    width: 80%;
    display: flex;
    align-items: start;
    
}
.feature-item-triangle{
    width: 45px;
    margin-right: 18px;
    color: #00FF85;
}
.feature-item-body{
    display: flex;
    flex-direction: column;
}
.feature-item-title{
    text-transform: uppercase;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    margin-bottom: 10px;
    color: #00FF85;
}
.feature-item-text{
    font-size: 2rem;
    line-height: 2.2rem;
    color: #00F0FF;
}