.main{
    
}
/* */
/* banner */
.banner{
    position: relative;
    height: 800px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    background-image: url("https://res.cloudinary.com/dhglwzgm3/image/upload/v1679214009/TT_dwdrz9.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.banner_1{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.banner_1-title{
    text-align: center;
    margin: 28px 0 10px;
    font-size: 4rem;
}
.banner_1-text{
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: center;
}
.banner_slogen{
    border-radius: 20px;
    background-image:linear-gradient(to right,#1abac4,#0066ff ) ;
    color: var(--white-color);
    text-align: center;
    padding:6px 40px ;
}
.banner_slogen h2{
    margin: 8px 0;
    font-size: 2rem;

    font-weight: 500;
}
.banner-btn-change{
    position: absolute;
    bottom: 310px;
    right: 50%;
    transform: translateX(50%);
}
.banner-btn{
    display: flex;
    justify-content:center;
};
.banner-btn:hover{
    transform: scale(1) rotate(0deg) !important;
}
.banner_list-divise {
    display: flex;

}
.banner_item{
    width: 313px;
    height: 147px;
    background: linear-gradient(180deg, #CB00CF 0%, #000F25 100%);
    border: 2px solid #FFFFFF;
    border-radius: 26px;
}
/* overview */
.overview{
    margin: 50px 0;
    width: 100%;
    color: #00F0FF;
}
.overview_wrapper{
    display: flex !important;
    justify-content: center !important;
    border-radius: 20px;
}

.overview_body{
    background:  rgba(82, 102, 153, 0.12);
    filter: brightness(1.4);
    border-radius: 20px;
    padding: 20px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.overview-more-info, .overview-title{
    margin-bottom: 30px;
    font-size: 2.2rem;
    line-height: 2.8rem;
    font-weight: 500;
    text-align: center;
}
.overview-title{
    font-size: 3rem;
}
/* price */
.price{
    width: 100%;
    height: 990px; 
    background-image: linear-gradient(to bottom right,#147ac5,#5abe49);
    
    height: 2290px;
}
.price_list{
    background-color: pink;
    
}