.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-active{
    display: flex;
}
.modal_body{
    position: relative;
    min-width: 680px;
    min-height: 80%;
    max-height: 693px;
    /* background-color: var(--white-color); */
    border-radius: 6px;
    position: relative;
    /* box-shadow: 0 1px 10px rgba(236, 94, 11, 0.9); */
    background: linear-gradient(112.31deg, #C5D9CC -3.45%, #D3C3D9 104.58%);
box-shadow: 20px 15px 60px rgba(0, 0, 0, 0.25);
    margin: auto;
    animation: fadeIn linear 0.2s;
    padding: 40px 20px;
}
@keyframes fadeIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(100%);
        opacity: 100%;
    }
}
/* close */
.close-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    font-weight: 300;
    background-color: white;
    box-shadow: 20px 15px 60px rgba(0, 0, 0, 0.25);
    color: rgb(151, 150, 150);
    transition: all 0.9 ease;
}
.close-btn i{
    font-size: 2.2rem;
}
.close-btn:hover{
    cursor: pointer;
    opacity: 0.8;
    color: rgb(77, 74, 74);
    transform: scale(1.06);
}
/* contain */
.modal_contain{
    display: flex;
    flex-direction: column;
}