@media (max-width:1238px){
    .wide{
        width: 100% !important;
    }
}
@media (max-width:1095px){
    .nav-items.none{
        display: none !important;
    }
    .nav-items{
        display: none !important;;
    }
    .c-8{
        display: none;
    }
}