:root{
    --white-color:#fff;
    --back-color:#101411;
    --bg-color:#18251a;
    --text-color:pink;

    --width-default:1200px;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: rgb(216, 91, 112);
}