.root{
    width: 100%;
    /* height: 2000px;/ */
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    /* overflow: scroll; */
    background-image: linear-gradient(var(--bg-gradient-1),var(--bg-gradient-2),var(--bg-gradient-3));
}
.app{
    width: 100%;
    background-color: var(--bg-color);
}
.header{
    display: flex;
    flex-direction: column;
}
/* nav */
.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.nav-logo{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.nav-items{
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}
.nav-item{
    position: relative;
    cursor: pointer;
    padding: 0 6px;
}

.nav-item:hover::before{
    transform: scaleX(1);
    cursor: pointer;
    transition: transform .5s ease,-webkit-transform .5s ease;
}
.nav-item::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    transition: transform .5s ease,-webkit-transform .5s ease;
    transform: scaleX(0);
}
/* btn */
.nav-btn-body{
    display: flex;
    justify-content: center;
}
.nav-btn {
    padding: 10px 24px;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    background-image: linear-gradient(#ECBC11,#E20E00);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-out;
}
.nav-btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(236, 232, 229, 0.3);
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
  }
.nav-btn:hover {
    color: white;
    transform: scale(1.05) rotate(2deg);

  }
.nav-btn:hover::before {
    transform: translateX(0%);
  }
/* banner */
.header_banner{
    
}
.banner_1-title{
    text-align: center;
    font-size: 4rem;
}